{
  "stations": [
    {
        "name":"Singapore",
        "host":"domain.com",
        "short_name":"flag_sg",
        "x":0.55,
        "y":0.40
        },
    {
        "name":"HongKong",
        "host":"domain.com",
        "short_name":"HK",
        "x":0.65,
        "y":0.20
        },
    {
        "name":"Japan",
        "host":"domain.com",
        "short_name":"JP",
        "x":0.73,
        "y":0.15
        },
    {
        "name":"United States",
        "host":"domain.com",
        "short_name":"flag_us",
        "x":-0.5,
        "y":0.15
        }
  ],
  "server": "http://domain.com",
  "server_auth": "/path",
  "can_do_invite": "/path",
  "do_invite": "/path",
  "validate_user": "/path"
}
